
body{
margin: 0;
padding: 0;
}
.titulo{
text-align: center;
color: black;
}
.subtitulo{
margin-top: 5px;
text-align: center;
color: black;

}

h1 , h2{
font-family: 'Alfa Slab One ' , cursive;
text-align: center;
margin-top: 60px;
}

footer{
text-align: center;
background-color: #aaa;
}

.container{
margin-right: 10px;
}

.mapa iframe{
width: 100%;
aspect-ratio: 1.2;
}

html{
scroll-behavior: smooth;
}

.scroll_section{
scroll-margin-top: 60px;
}

.libertadores{
margin-top: 100px;

}

.lista-grandes {
    margin:0;
    padding:0;
    list-style: none;
}

.lista-grandes li{
margin: 4px , 0;
}

.lista-grandes li a{
background-color: #fff;  
color: #a0a0a0;  
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 1.2rem;
transition: all .2s ease-in-out;
display: block;
}

.lista-grandes li a :hover{
color: black;
background-color: #dadada;
}

.lista-grandes li a img{
width: 120px;
height: 50px;
transition: all .2s ease-in-out;
margin-right: 1rem;
opacity: 0.7;
}

.lista-grandes li a img :hover{
filter: none;
margin-right: 1.4rem;
opacity: 1;
}